<p style="color: green"><%= notice %></p>

<div>
    <h1 class="text-center">Comments</h1>
    <div id="comments">
    <% @comments.each do |comment| %>
    <div class="card m-2">
      <%= render comment %>
      <p class="text-center">
        <%= link_to "Show this comment", comment%>
      </p>
    </div>
    <% end %>
    </div>
  <%= link_to "New comment", new_comment_path, class: "m-3 p-3" %> <br>
  <%= link_to "<< back home", home_index_path, class: "m-3 p-3" %>

</div>
