<p style="color: green"><%= notice %></p>



<div class="container">
    <div class="row row-col-2 m-2">
        <div class="card col" style="width: 18rem;">
        <div class="d-flex">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfj6DaaDeJS2t3axtESFKmDxq_IgbVFCwpzg&usqp=CAU" style="width:150px; height:150px; border-radius:50%" class="card-img-top m-3" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= @student.name%></h5>
            <p class="card-text">Student story</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: <%= @student.age%></li>
            <li class="list-group-item">Previous school: <%= @student.previous_school%></li>
        </ul>
        </div>
    </div>
    <div class="text-center">
      <%= link_to "Edit this student", edit_student_path(@student) %> |
      <%= link_to "Back to students", students_path %>

      <%= button_to "Delete this student", @student, method: :delete, class: "btn btn-danger" %>
    </div>   
</div>
